<h1>this is running on azure </h1>

<br><br>

<form method="post">
    <label for="name">Name: </label>
    <input type="text" name="name">

    <br><br>
    <label for="stuff">age: </label>
    <input type="number" name="age">

    <input type="submit" value="submit">
</form>

